body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* making room for the scrollbar */
    overflow-y: scroll;
}


body {
    font-family: "Montserrat-Regular", Helvetica, sans-serif;
    font-size: 14px;
    color: #3D3937; 
}

header,
nav,
footer,
section,
article,
div {
    /* defult:content-box, border-box sets the full width of all parts of elements: content,padding, borders 
    eg. 300px is the full width, no matter what */
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: "Montserrat-Medium";
    margin: 0;
}

p {
    font-family: "Montserrat-Regular";
}

li,
a {
    font-family: "Orkney-Bold";
    color: #3D3937;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #F04B23
}

/* catch all, content fits within the viewport */

img,
embed,
object,
video {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    line-height: 2;
    font-size: 1.25em;
}

footer {
    margin-top: 5em;
    font-size: .8em;
}

/* fonts */

/* fonts */

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../font/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../font/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Orkney-Bold";
    src: url("../font/Orkney Bold.ttf");
}

/* Grid */

.wrapper {
    padding: 0 30px;
    max-width: 1280px !important;
    margin-right: auto;
    margin-left: auto;
}

/* navigation */

.logo {
    max-width: 40px;
}

.col-fixed-180 {
    width: 160px;
    height: 100%;
    /* border-right: 2px solid #95989A; */
}

.header {
    position: sticky;
    z-index: 1;
    top: 0;
}

.navbar {
    padding: 4em 1em;
    background: #fff;
}

.nav-item {
    margin-bottom: 2em;
}

.nav-btn {
    padding: 0 1em;
    color: #3D3937;
}

a.nav-btn {
    transition: .2s ease;
}

a.nav-btn:hover {
    text-decoration: none;
    border-left: 3px solid#F04B23;
    color: #F04B23;
}

.active {
    border-left: 3px solid#F04B23;
    color: #F04B23;
}

a.ln {
    color: #3D3937;
    text-decoration: none;
    transition: .2s ease;
}

a.ln:hover {
    color: #F04B23;
}

.toggle {
    display: none;
}

.toggle-nav {
    margin-top: 5em;
    font-size: 1.5em;
}

.toggle-nav a {
    color: #3D3937;
    border-bottom: 2px solid #F04B23;
}

#toggleNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.closebtn {
    font-size: 3em;
    cursor: pointer;
}

/* content */

.content-wrapper {
    margin-left: 160px;
    border-left: 3px solid #95989A;
}

/* index */

.d-img {
    margin-top:12rem;
    margin-bottom:5em;
}

.index_name{
    padding-top: 8em;
}
.index_slogan{
    display: block;
}

/* work */

.project-card {
    padding: 0;
    margin-bottom: 5em;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    width: 40%;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    transition: .5s ease;
}

.project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: matrix(.98, 0, 0, .98, 0, 0);
    background: #F8F8F8;
}

.title {
    margin-top: 2em;
    text-align: center;
}

.title a {
    font-family: "Montserrat-Medium";
    color: #3D3937;
    text-decoration: none;
    transition: .3s ease;
}

.title a:hover {
    color: #F04B23;
}


/* about */

.bio-img {
    padding: 0;
}

.bio-contact {
    margin-top: 4em;
    padding: 0;
}

/* work, project */

.project-section {
    margin: 5em 0;
    
}

.project-description p {
    color: #3D3937;
}

.type-title {
    color: #F04B23;
}

.caption {
    margin-top: 2em;
    color: #95989A;
}
.embed-responsive{
    max-width: 270px;
    max-height:450px;
    padding:0 !important;
}


.project-container {
    position: relative;
    text-align: center;
}

.project-title {
    position: absolute;
    color: #3D3937;
    /* position text to center, anchor point: top left */
    top: 50%;
    left: 50%;
    /* move the text by 50% of its own width and height for centering the text */
    transform: translate( -50%, -50%);
    text-align: center;
    border-top: 1.5px solid #3D3937;
    border-bottom: 1.5px solid #3D3937;
    padding: 10px 5px;
    background: rgba(255, 255, 255, 0.5);
}
.subtitle{
    font-family: "Montserrat-Medium";
    font-weight: 900;
    margin-bottom: 2em;
}
/* contact */

input[type=submit] {
    font-family: "Orkney-Bold";
    font-size: 16px;
    background: #F04B23;
    color: #fff;
    height: 50px;
    width: 160px;
    text-align: center;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover,
input[type=reset]:hover {
    background: #3D3937;
    color: #F04B23;
    transition: .3s;
    /* background: #F04B23;
    color: #fff; */
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 3px solid #95989A;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

textarea {
    height: 10em;
}

input[type=text]:focus,
textarea:focus {
    border: 3px solid #F04B23;
}

.sm-img {
    max-width: 40px;
}

/* button,link,icon */

.btn-orange {
    background: #F04B23;
    color: #fff;
    height: 40px;
    width: 160px;
    padding: 1em 3em;
    text-align: center;
}

a.btn-orange:hover {
    transition: .3s;
    background: #3D3937;
    color: #F04B23;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-behance-square:hover,
.fa-instagram:hover {
    transition: .3s;
    color: #F04B23;
}

/* animation */

.index_slogan {
    margin-top: .5em;
    animation: fadeInRight 5s;
    animation-fill-mode: both;
 }
 .index_period{
    font-size:1.5em;
   color:#F04B23;
 }
 @keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(40px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 

 @media screen and (max-width: 768px) {
    .content-wrapper {
        margin-left: 0;
        border: none;
    }
    .ln {
        display: none;
    }
    .toggle {
        display: inline-block;
    }
    .side-nav {
        display: none;
    }

    .index_name{
        padding-top: 0;
    }
    .d-img{
        margin-top:8em;
    }
}

@media screen and (max-width: 576px){
    .demo-margin{
        margin: 0 auto 0 auto;
    }
    .demo-caption{
        text-align: center;
        margin-bottom: 5em;
    }
}

/* 404 error */

.error-template {
    margin-top:3em;
    padding: 40px 15px;
    text-align: center;
}

.error-actions a{
  margin: 2em 2em;
}

.error-actions .btn {
    margin-right: 10px;
}